<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand text-center" style="font-weight: bold;color: black;width: 12%;" href="/">SA GREEN MART.
    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="width: 88%; border-radius: 50px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);border-width: 1px;border-color: #cccccc">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" style="font-weight: normal" href="/rental/create">Nhà cung cấp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-weight: normal" href="/products/create">Thêm Sản Phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-weight: normal" href="/librarians/create">Giao Dịch</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://scontent.fhan5-11.fna.fbcdn.net/v/t39.30808-6/323893649_1435800143617858_7359286661659517462_n.jpg?stp=cp6_dst-jpg&_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=7DfBPJj26ecAX_5qdSd&_nc_ht=scontent.fhan5-11.fna&oh=00_AfBrTWAEDel_rkjnkh12ZL7Bt2yKrKET2aj77pyIvZJHTw&oe=649F7F35" alt="" class="user-avatar">
                        Viết Long
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/">Dang Xuat</a>
                    </div>
                </li>
            </ul>
        </div>

</nav>
